
body{
    border: 10px solid green;
    padding: 5px;
    margin: 5px;
}

.sec{
    height: 200px;
    background: lightgray;
    margin: 10px 0;
    border: 5px solid red;
    
}

.sec p {
    font-size: 20px;
    position: relative;
}

.sec p span{
    position: fixed;
    top: 0;
}

.mundo{
    background: pink;
    z-index: 2;
}


.resp{
    background: yellow;
    z-index: 1;

}