
body{
    border: 10px solid green;
    padding: 5px;
    margin: 5px;
}

.sec{
    height: 200px;
    background: lightgray;
    margin: 10px 0;
    border: 5px solid red;
    position: relative;
}

.sec p {
    font-size: 20px;
}

.sec p span{
    position: absolute;
    top: 40px;
    background: blue;
}