/*
reglas: en  cascada, contienen
-selectores
-declaraciones
-propiedades
-valores
*/

/*selector de etiquite: tag a manipular (header, section ...)
html{
    background-color: rgb(25, 136, 136) !important; 
}*/

/*Selector descendente: Elemento hijo de algun otro
header div nav ol li a{
}*/

/*Selector de clase
.linkk{
}*/

/*Selector ID
#id_link{
}*/
 
body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

/*h1 h2 h3 h4 h5 h6{   SIN LAS COMAS selecciona descendentemente*/
h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
}

h2{
    color:#026fff;
    font-family: 'Noto Serif SC', serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
}

h1 {
    line-height: 1.5em; /*!.5 el valor de la fuente*/
    line-height: 150%;
    line-height: 1.5; /*0 a 1 e s el 100 porciente*/
    font-size: 40px;
    font-weight: 900;   /*Se mide en valores de 100enes, 100 a 1000, 400 es el normal*/
    /*Bold: 600
    Normal : 400
    */
    font-weight: bold;
    /*font-style: italic;*/
    letter-spacing: -1px; /* negativo, es un 20%de un pixel menos */
    /*Las fuentes pueden transformarse: mayus*/
    text-transform: initial;
    /*text-decoration: underline;*/
    color: white;

    margin:100px 520px 70px 5px ;/*margin: top right bottom left;*/

}

h1 strong{
    color: #343CAB;
}

.portfolio{
    background: #fafafa;
}

.project{
    /* border:10px solid red; /*tama単o - tipo -  stilo
    border-top: 10px solid red;
    border-bottom: 10px solid springgreen;
    border-left: 10px solid tan;
    border-right: 10px solid violet; */
    border-color: red; /*necesita ancho de borde*/
    border-width:10px; /*necesita rambien estilo*/
    border-top-style: solid; /**la 23 props son necesarioas*/
    border:1px solid grey; /*tama単o - tipo -  stilo*/
    border-radius: 10px;
    border-top-left-radius: 5px;
    margin: 50px 0;
    padding: 25px;
    background: white;
    box-sizing: border-box;/*con esta propiedad se limitea el tama単o del elemento siempre con wodth y height*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.project strong{
    font-family: 'Noto Serif SC', serif;
}

.project_title{
    font-size: 30px;
    margin-bottom: 0.3em;
}

.project_course,
.project_date,
.project_url
{
    margin:0.4em 0;
}
.project_description
{
    font-size:15px;
}

.project_details{
    width: 49%;
    margin-right: 1%;
    /*margin: 10px 20px; primero es toop y bottom y los otros son los lados*/
    /*height: 100px; /*SOlapar elementos con height*/
   /*  margin: 0 auto; para centrar con los margin y teniendo la propiedaddisplay block
    display: block;*/
}

.project_imgContainer{
    width: 49%;
    margin-right: 1%;
    text-align: right;
}

.project_imgContainer img{
    max-width: 100%;
}

ol,ul {
    margin: 0;
    padding: 0;
    list-style: none; /*Nada de listaaaas*/
}

figure{
    margin: 0;
}

.header{
    background-color:#343CAB;/* #1b2127; */
    color: white;
    display: flex;
    justify-content: space-between;
    height: 100px;
    flex-wrap: wrap;
    /*align-items: center;*/
}

.header img{
    height: 100px;
}

.header ol{
    display: flex;
    height: inherit;
}
.header ol li{
    height: inherit;
}
.header a{
    height: inherit;
    display: flex;
    align-items: center;
    padding-right: 25px;
    padding-left: 25px;
    
}
.header a:hover{
    background-color:rgb(12, 17, 65);
}

.menu{
    height: inherit;
}

.header a{ /*Selector descendente*/
    color: white; /*Ya que los enlaces tienen estilos propios, toca cambiar el estilo directmente*/
    text-decoration: none;
}

.header ol{
    display: flex;
    height: inherit;
}


.hero{
    height: 400px;
    /* background-image: url('../img/hero.png'); */
    background-color: #1b2127;
    /* background-size: 600px ; en mosaico */
    /* background-repeat: no-repeat;Se quita el mosaico */
    /* background-position-x: right; Ahora la imagen sobre la derecha */
    display: flex;
    /*justify-content: flex-start;*/
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero h1{
    margin: 0;
}

.hero img{
    object-fit: cover;
}

/*FLEXBOX CONCEPTS*/
.flexbox{
    display: flex;
    flex-direction:row;
    height: 300px;
    flex-wrap: wrap; /*con este e hace un salto de linea, por defecto es wrap*/
    justify-content: space-evenly;
    align-items:center;

    display: none;

}

.box{
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    /*margin: 20px;/*COn este margin se separan los elementos, pero lo haremos sin usar margin*/
    /*flex-shrink: 0/*QUe sea o no encojibles, el problema es que aumenta el tamano de la ventana, por tal no sirve*/
}

footer{
    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: wrap;
}

footer a {
    color:white;
    text-decoration: none;
    font-style: italic;
}

footer img{
    vertical-align: middle;
}

.portfolio{
    padding: 20px;
    text-transform: uppercase;
}

.events{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.event{
    margin: 1%; /* 1 +1 +1+ 1+ 48 + 48 = 100% */
    width: 48%;
    flex-shrink: 0;
    overflow: hidden;
    background-color: #f4fbff;
}

.event img{
    width: 550px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.event_detail{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative; /*Depende del contexto, por el momento de superponer*/
    padding: 20px;
    text-align: center;
}

.event_description{
    text-align: left;
}

.event_url{
    color:#056fff;
    border: 1px solid; /*el color lo mtoma del que viene*/
    padding: 5px 20px;   
}

.event_big_title{
    margin-left: 20px;
}

.contact{
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    flex-wrap: wrap;
}

.social_link{
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 0px 10px;
    background-repeat: no-repeat;
}

.social_link.twitter{
    background-image: url('../img/twitter.svg');
    background-size: 50px 50px; 
}

.social_link.facebook{
    background-image: url('../img/facebook.svg');
    background-size: 50px 50px; 
} 

.social_link.instagram{
    background-image: url('../img/instagram.svg');
    background-size: 50px 50px; 
} 

.social_link.github{
    background-image: url('../img/github.svg');
    background-size: 50px 50px; 
} 

.form_email input{  
    border-color: grey;
    padding: 5px 20px 5px 30px;
    border-radius: 5px;
    border-style: solid;
    background-image: url('../img/telegram.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form_email button{ 
    display: block;
    background: transparent;
    color: white;
    border-style: solid;
    padding: 5px 0;
    border-radius: 8px;
    width: 100px;
    margin-top:20px; 
    /* margin: 20px auto 0; */
}

.container{ 
    max-width: 1200px;
    flex: 1;
    margin: 0 auto;
    display: inherit;/*OJO!!!! el flex solo se aplica a los hijos*/
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}



@media screen and (max-width:1024px){

}

@media screen and (max-width: 767px){ /*HAsta 768 el eader funciona, pero mas peque単o no, entonces
    se debe colocar el max width para valores inferior de 768, osea, 767*/
    .header{
        display: block;
        height: auto;
    }
    .header ol{
        display: initial; /*o tambien el block*/
    }
    .header ol li{
        height: 50px;
    }
    .header a {
        justify-content: center;
    }
    .header .logo{
        text-align: center;
    }
    .project {
        display:block;
    }
    .project_imgContainer{
        width:auto;
        text-align: center;
    }
    .project_details{
        text-align: center;
        width:auto;
        font-size: 16px;
    }
    .project_title{
        font-size: 1.5em;
    }
    .project_url{
        font-size: 1em;
    }
    .project_course{
        font-size: 0.7em;
    }
    .project_date{
        font-size: 1em;
    }
    .project_description{
        font-size: .8em;
    }
    .event{
        width:auto;
        flex-shrink: initial;
        width: 100%;
    }
    .event img{
        width: 100%;
    }
}

@media screen and (max-width:479px){
    .project_details{
        text-align: center;
        width:auto;
        font-size: 12px;
    }
    .event_detail{
        margin: -2em 0.5em 0.5em;
        padding: 1em;
    }
}

@media screen and (max-width:320px){

} 