@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?6wpd98');
    src:  url('../fonts/icomoon.eot?6wpd98#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?6wpd98') format('truetype'),
      url('../fonts/icomoon.woff?6wpd98') format('woff'),
      url('../fonts/icomoon.svg?6wpd98#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e9bd";
  }
  .icon-facebook:before {
    content: "\ea91";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-github:before {
    content: "\eab0";
  }
  .icon-skype:before {
    content: "\eac5";
  }
  .icon-linkedin:before {
    content: "\eac9";
  }
  
  .burguer-menu{
        width: 40px;
        height: 40px;     
        border-radius: 50%;  
        background: rgba(0, 0, 0, 0.8);
        color: white;
        /**PARA CENTRAAAR con display:block*/
        display: none;
        line-height: 40px; /**/
        text-align: center;
        position: fixed;
        z-index: 5;
        left: 5px;
        top:5px;
  }

  .icon-facebook, .icon-github, .icon-twitter, .icon-instagram, .icon-linkedin{
    color: white;
    font-size: 50px;
  }

/*
reglas: en  cascada, contienen
-selectores
-declaraciones
-propiedades
-valores
*/

/*selector de etiquite: tag a manipular (header, section ...)
html{
    background-color: rgb(25, 136, 136) !important; 
}*/

/*Selector descendente: Elemento hijo de algun otro
header div nav ol li a{
}*/

/*Selector de clase
.linkk{
}*/

/*Selector ID
#id_link{
}*/
 
body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

/*h1 h2 h3 h4 h5 h6{   SIN LAS COMAS selecciona descendentemente*/
h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
}

h2{
    color:#026fff;
    font-family: 'Noto Serif SC', serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
}

h1 {
    line-height: 1.5em; /*!.5 el valor de la fuente*/
    line-height: 150%;
    line-height: 1.5; /*0 a 1 e s el 100 porciente*/
    font-size: 40px;
    font-weight: 900;   /*Se mide en valores de 100enes, 100 a 1000, 400 es el normal*/
    /*Bold: 600
    Normal : 400
    */
    font-weight: bold;
    /*font-style: italic;*/
    letter-spacing: -1px; /* negativo, es un 20%de un pixel menos */
    /*Las fuentes pueden transformarse: mayus*/
    text-transform: initial;
    /*text-decoration: underline;*/
    color: white;

    margin:100px 520px 70px 5px ;/*margin: top right bottom left;*/

}

h1 strong{
    color: #343CAB;
}

.portfolio{
    background: #fafafa;
}

.project{
    /* border:10px solid red; /*tamaño - tipo -  stilo
    border-top: 10px solid red;
    border-bottom: 10px solid springgreen;
    border-left: 10px solid tan;
    border-right: 10px solid violet; */
    border-color: red; /*necesita ancho de borde*/
    border-width:10px; /*necesita rambien estilo*/
    border-top-style: solid; /**la 23 props son necesarioas*/
    border:1px solid grey; /*tamaño - tipo -  stilo*/
    border-radius: 10px;
    border-top-left-radius: 5px;
    margin: 50px 0;
    padding: 25px;
    background: white;
    box-sizing: border-box;/*con esta propiedad se limitea el tamaño del elemento siempre con wodth y height*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.project strong{
    font-family: 'Noto Serif SC', serif;
}

.project_title{
    font-size: 30px;
    margin-bottom: 0.3em;
}

.project_course,
.project_date,
.project_url
{
    margin:0.4em 0;
}
.project_description
{
    font-size:15px;
}

.project_details{
    width: 49%;
    margin-right: 1%;
    /*margin: 10px 20px; primero es toop y bottom y los otros son los lados*/
    /*height: 100px; /*SOlapar elementos con height*/
   /*  margin: 0 auto; para centrar con los margin y teniendo la propiedaddisplay block
    display: block;*/
}

.project_imgContainer{
    width: 49%;
    margin-right: 1%;
    text-align: right;
}

.project_imgContainer img{
    max-width: 100%;
}

ol,ul {
    margin: 0;
    padding: 0;
    list-style: none; /*Nada de listaaaas*/
}

figure{
    margin: 0;
}

.header{
    background-color:#343CAB;/* #1b2127; */
    color: white;
    display: flex;
    justify-content: space-between;
    height: 100px;
    flex-wrap: wrap;
    /*align-items: center;*/
}

.header img{
    height: 100px;
}

.header ol{
    display: flex;
    height: inherit;
}
.header ol li{
    height: inherit;
}
.header a{
    height: inherit;
    display: flex;
    align-items: center;
    padding-right: 25px;
    padding-left: 25px;
    
}
.header a:hover{
    background-color:rgb(12, 17, 65);
}

.menu{
    height: inherit;
}

.header a{ /*Selector descendente*/
    color: white; /*Ya que los enlaces tienen estilos propios, toca cambiar el estilo directmente*/
    text-decoration: none;
}

.header ol{
    display: flex;
    height: inherit;
}


.hero{
    height: auto;
    /* background-image: url('../img/hero.png'); */
    background-color: #1b2127;
    /* background-size: 600px ; en mosaico */
    /* background-repeat: no-repeat;Se quita el mosaico */
    /* background-position-x: right; Ahora la imagen sobre la derecha */
    display: flex;
    /*justify-content: flex-start;*/
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero h1{
    margin: 0;
}

.hero img{
    object-fit: cover;
}

/*FLEXBOX CONCEPTS*/
.flexbox{
    display: flex;
    flex-direction:row;
    height: 300px;
    flex-wrap: wrap; /*con este e hace un salto de linea, por defecto es wrap*/
    justify-content: space-evenly;
    align-items:center;

    display: none;

}

.box{
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    /*margin: 20px;/*COn este margin se separan los elementos, pero lo haremos sin usar margin*/
    /*flex-shrink: 0/*QUe sea o no encojibles, el problema es que aumenta el tamano de la ventana, por tal no sirve*/
}

footer{
    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: wrap;
}

footer a {
    color:white;
    text-decoration: none;
    font-style: italic;
}

footer img{
    vertical-align: middle;
}

.portfolio{
    padding: 20px;
    text-transform: uppercase;
}

.events{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.event{
    margin: 1%; /* 1 +1 +1+ 1+ 48 + 48 = 100% */
    width: 48%;
    flex-shrink: 0;
    overflow: hidden;
    background-color: #f4fbff;
}

.event img{
    width: 550px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.event_detail{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative; /*Depende del contexto, por el momento de superponer*/
    padding: 20px;
    text-align: center;
}

.event_description{
    text-align: left;
}

.event_url{
    color:#056fff;
    border: 1px solid; /*el color lo mtoma del que viene*/
    padding: 5px 20px;   
}

.event_big_title{
    margin-left: 20px;
}

.contact{
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
/*     padding: 0 50px; */
    flex-wrap: wrap;
}

.social_link{
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 0px 10px;
    background-repeat: no-repeat;
}


.form_email{
    padding-bottom: 1em;
}

.form_email input{  
    border-color: grey;
    padding: 5px 20px 5px 30px;
    border-radius: 5px;
    border-style: solid;
    background-image: url('../img/telegram.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form_email button{ 
    display: block;
    background: transparent;
    color: white;
    border-style: solid;
    padding: 5px 0;
    border-radius: 8px;
    width: 100px;
    margin-top:20px; 
    /* margin: 20px auto 0; */
}

.container{ 
    max-width: 1200px;
    flex: 1;
    margin: 0 auto;
    display: inherit;/*OJO!!!! el flex solo se aplica a los hijos*/
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.html_video{
    width: 100%; /*SON DIFERENTE entre ambooos*/
    max-width: 100%;
    height: auto;
}

.video-copy{
    text-align: center;
    font-style: italic;
}

.youtube-video{
    /* width: 100%;
    height: auto;   NO SIRVEEE SIN losiguiente*/
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.video-flexible{
    /*se le da un tamaño aleatorio*/
    position: relative;
    width: 100%;
    height: 0;
    padding-top:56.25%; /*h*100/w*/
    background: blue;
    z-index: 0;
    /*Proporcion del video: 56.25*/
}

@media screen and (max-width:1024px){
    .hero{
        height: auto;
        position: relative;
        overflow: hidden; /*control de los desbordes!*/
        padding: 2em;
    }
    .hero_img{
        z-index: 1;
        position: absolute;
        top: 0; 
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        
    }
    .hero h1{
        z-index: 2;
        /* font-size:1.5em; */
        text-shadow: 1px 2px 2px #000;
        background: rgba(0, 0, 0, 0.5)
    }

    footer{
        display: block;
        text-align: center; 
        border: 1px solid transparent;
    }

    footer img{
        display: block;
        margin: 0.5em auto;
    }

    .container{
        padding: 0 1em;
    }
    
}

@media screen and (max-width: 767px){ /*HAsta 768 el eader funciona, pero mas pequeño no, entonces
    se debe colocar el max width para valores inferior de 768, osea, 767*/
    .burguer-menu{
        display: block;
    }
    .menu{
        position: fixed;
        background:rgba(18, 34, 124, 0.9);
        z-index: 4;
        top: 0;
        left: 0;
        width: 100vw;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        /*Se oculta con heigth menos el viewport*/
        left: -100vw;
    }

    .menu.is-active{
        left: 0;
        transition: 0.5s;
    }

    .hero h1{
        font-size:1.5em;
    }

    .header{
        display: block;
        height: auto;
    }
    .header ol{
        display: initial; /*o tambien el block*/
    }
    .header ol li{
        height: 50px;
    }
    .header a {
        justify-content: center;
        height: 40px;
        font-size: 2em;
        text-decoration: underline;
        margin-bottom:2em;
    }
    .header .logo{
        text-align: center;
    }
    .project {
        display:block;
    }
    .project_imgContainer{
        width:auto;
        text-align: center;
    }
    .project_details{
        text-align: center;
        width:auto;
        font-size: 16px;
    }
    .project_title{
        font-size: 1.5em;
    }
    .project_url{
        font-size: 1em;
    }
    .project_course{
        font-size: 0.7em;
    }
    .project_date{
        font-size: 1em;
    }
    .project_description{
        font-size: .8em;
    }
    .event{
        width:auto;
        flex-shrink: initial;
        width: 100%;
    }
    .event img{
        width: 100%;
    }
    .form_email{
        padding-bottom: 0;
    }
    .form_email h3{
        margin-top: 0;
    }
    .contact{
        height: auto;
        display: block;
        text-align: center;
        padding: 1.5em 0;
    }
    .contact button{
        margin: 1em auto;
    }

}

@media screen and (max-width:479px){
    .hero h1{
        font-size:1.1em;
    }
    .project_details{
        text-align: center;
        width:auto;
        font-size: 12px;
    }
    .event_detail{
        margin: -2em 0.5em 0.5em;
        padding: 1em;
    }


}

@media screen and (max-width:320px){
    .social_link{
        padding: 10px;
    }
} 

/* positions
    static: por defecto. 

    Con las siguientes se desbloquean 
    z-index:  
    top bottom righht left --- se mueven segun las coordenas
    -relative
    -absolute 
    -fixed
    -sticky
*/
